body {
    background-color: aquamarine;
    font-weight: bold;
    font-style: italic;
    font-family: Helvetica;
    font-size: 1em;
}

h1 { 
    color: blueviolet;
    margin: 20px;
    text-decoration: underline;
    word-spacing: 1cm;
    text-transform: uppercase;
}


#div1 {
    border: 1px solid black;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    padding: 5px;


}

#button1 {
    text-align: center;
    border: 1px solid black;
    color: brown;
}


div {
    border: solid red; 
    width: 140px; 
    height: 60px;
    margin-top: 25%;
    margin-left: 25%;
    /* transform: rotate(25deg) ; */
    /* transform: rotate(20deg) rotateZ(90deg); */
    /* transform: rotate(0deg) translate(200px,100px); */
    /* transform: rotate(20deg) translate(200px,100px) scale(2,3); */
    /* transform: rotate(20deg) translate(200px,100px) scale(2,3) skew(180deg,180deg); */
    /* transform-origin: left; */
}



